@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root{
    --violet:hsl(257, 40%, 49%);
    --magenta:hsl(300, 69%, 71%);
    --body: 'Open Sans', sans-serif;
    --heading: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./images/bg-mobile.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--violet);
    font-family: var(--body);
}
.logo{
    padding:0.8rem 1.2rem;
}
.logo img{
    width: 35%;
    }
    .container{
        padding: 1.2rem
        }
    .image-section {
        text-align: center;
        padding: 1.2rem;
    }
.image-section img{
    max-width: 80%;
    
}
.content-section {
    text-align: center;
    margin: 2.5rem 0;
    /* padding: 0.2rem; */
}
.content-section h1{
    font-size: 1.5rem;
    font-family: var(--heading);
    color: white;
    
}
.content-section p{
    color: rgba(245, 242, 242, 0.856);
    line-height: 1.5;
    letter-spacing: 0.8px;
    font-weight: 400;
    margin-bottom: 1.2rem;
}
button{
    padding: 0.8rem 4rem;
    border-style: none;
    border-radius: 1.5rem;
    color: var(--violet);
    font-weight: 600;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.527);
    cursor: pointer;
}
button:hover{
    background-color: var(--magenta);
    color: white;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.fa-brands{
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
.fa-brands:hover{
    background-color: var(--magenta);
    color: white;
}




@media screen and (min-width: 780px) {
    body{
        background-image: url(./images/bg-desktop.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .logo img{
        width: 12%;
        }
    .image-section{
        width: 50%;
    }
    .image-section img{
        width: 100%;
    }
    .content-section{
        text-align: left;
        width: 50%;
    }
    .content-section h1{
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
    }
    .image-section img{
        max-width: 100%;
        
    }
    .social-icons{
        justify-content: flex-end;
    }
    
}
/* Mobile: 375px
Desktop:1440px */